<div class="form-inline clearfix">
  <div class="nested-fields">
    <%= f.input :subtask, input_html: { class: 'form-input form-control' } %>
    <%= f.input :hours, as: :string, input_html: { class: 'form-input form-control' } %>
    <%= f.input :status, as: :radio_buttons, collection: ['Inprogress', 'Incompleted', 'completed'] %>
    <%= link_to_remove_association "Remove Step", f, class: "btn btn-default form-button" %>
  </div>
</div>

 