<div class="container clearfix">
	<div id="pins" class="transitions-enabled clearfix">

	  <% running_total = 0 %>
	   <% @trackers.each do |tracker| %>
	   <h2>
         <% running_total = running_total + (tracker.hours) %>
        </h2>
       <% end %>
     <h4 class="pull-right">Total Hours: <%= (running_total) %></h4>
	  <% @trackers.each do |tracker| %>
	    <div class="box panel panel-default">
	      <h2>
	        <%= tracker.created_at.to_date %> <br>
	        <%= link_to truncate(tracker.task, length:150), tracker %> 
	      </h2>         
	    </div>
	  <% end %>
 </div>
  <div class="pagination">
   <%= will_paginate @trackers %>
  </div>

