// Place all the styles related to the Trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio, .checkbox {
	display :inline;
	padding :20px;
}

.style li {
		   list-style: none;
		   border: 1px solid #ccc;
		   padding :10px
		}

	.panel-footer {
	   background-color: #ffffff ;
       border-top: 1px solid #fff ;
    }

    .glyphicon-user:before {
       
        margin: 2px;
    }
    .glyphicon-log-in:before {
       padding: 3px;
       margin: 2px;

    }

    input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0px;
    left: -2px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0px;
    left: -2px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

